@font-face {
    font-family: Rokkit;
    src: url(https://fonts.google.com/selection?query=rokkit&selection.family=Rokkitt);
}

@font-face {
    font-family: Roboto;
    src: url(https://fonts.google.com/selection?query=robot&selection.family=Roboto);
}

p {
    font-family: Roboto;
    }

h1, h2, h3 {
    font-family: Rokkit;
}

#features {
    padding: 7vh;
}

.containhead {
    background-image: url("../images/bg_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.text-img
{
    /* position: relative;
    background-color:rgba(0, 174, 255, 0.33);
    width: 100%;
    /* height: 100%; */
    /* color: white;  */
    background-color: #0ccdf0;
    background-size: cover;
    opacity: 0.33;
    width: 100%;
    padding-bottom: 5%;
    position: relative;
    z-index: 2000;
}

section.appareil {
    position: relative;
}

.containe {
    
    /* background-image: url("../images/bg_appareil_photo.jpg"); */
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: 1;
}

.velo {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 82%;  
}

.prix  {
	position:absolute;
	left:6px;
	bottom:10px;
	width:375px;
	height: 94px;
	background-position: absolute; 
	z-index:1;
    margin-top:-70px;
    
    }
    
.navbar {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    color: black;
}

#footer {
    background-image: url("/../images/bg_newsletter.jpg");
}

.col-4 {
    border: solid 2px white;
    color: white;
}

.form-control {
        display: block;
        padding: .375rem .75rem;
        font-size: 1rem;
        width: 15%;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.HGauche {
    background-image: url("/../images/300.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 100px;
}
.Hdroite {
    background-image: url("/../images/776.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 431px;
}
.MGauche {
    background-image: url("/../images/800.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 483px;
}
.MdroiteH {
    background-image: url("/../images/400.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 300px;
}
.MdroiteB {
    background-image: url("/../images/2476.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 200px;
}
.Bgauche {
    background-image: url("/../images/140.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;

}
.Bdroite {
    background-image: url("/../images/439.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    height: 150px;
}

.contain {
    background-image: url("/../images/bg_nuage.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    color: white;
    font-weight: bold; 
    text-align: left !important;
}

.container-fluid {
    padding: 0px!important;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
    color: white;
    padding: 10%;
}

div {
    background-color: transparent;
}

#abouthead {
    padding: 15px;
    color: black;
}

.abouttxt {
    text-align: center;
    color: darkgray;
}

#aboutbody {
    
    background-image: url("../images/bg_nuage.jpg");
    background-position: center;
    background-size: 75rem;
    background-repeat: no-repeat;
}
